@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

section {
  display: block;
}

section:first-child img {
  width: 100%;
  display: block;
}

section:nth-child(2) > img {
  display: none;
}

section:nth-child(3) {
  width: 100%;
  display: block;
}
